:root {
  --clr-bg: hsl(180, 7.7%, 92.4%);
  --clr-bg-header: hsl(206, 72%, 11%);
  --clr-bg-product-card: hsl(0, 0%, 100%);
  --clr-font: hsl(0, 0%, 100%);
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html,
body {
  box-sizing: border-box;
  background-color: var(--clr-bg);
}

a {
  text-decoration: none;
  color: var(--clr-font);
}

/*  /////////////////////////////////////////////////////////////////////////////////////////  */

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-end {
  justify-content: flex-end;
}

.space-evenly {
  justify-content: space-evenly;
}

.center-text {
  text-align: center;
}

.margin-all-1rem {
  margin: 1rem;
}

.padding-all-1rem {
  padding: 1rem;
}

.hover-border:hover {
  border: 1px white solid;
}

/*  /////////////////////////////////////////////////////////////////////////////////////////  */

.App {
  background-color: var(--clr-bg);
}

.App > div:nth-child(2) {
  margin: 1rem;
}

.button {
  border: 1px solid white;
  border-radius: 5px;
  padding: 0.5rem;
  color: var(--clr-font);
  text-align: center;
  display: inline-block;
  cursor: pointer;
  background-color: var(--clr-bg-header);
  user-select: none;
}

.box-shadow-white {
  box-shadow: 0 0 5px var(--clr-bg-header);
}

/*  //////////////////////////////// HEADER ///////////////////////////////  */

.header {
  background-color: var(--clr-bg-header);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  min-height: 200px;
  width: 100%;
  margin-bottom: 1rem;
}

.header h1 {
  min-height: 45px;
}

.search-bar {
  width: 70%;
  height: 40px;
}

.search-bar > input[type="text"] {
  width: 100%;
}

.search-bar > button {
  min-width: 40px;
}

.cart {
  min-width: 60px;
  min-height: 50px;
}

.cart > div:nth-child(2) > span:nth-child(1) {
  width: 10px;
  height: 20px;
}

/*  //////////////////////////////// PRODUCT LIST ///////////////////////////////  */

.product-list {
  display: grid;
  gap: 1rem;
  width: 80%;
  grid-template-columns: 1fr;
  justify-content: space-evenly;
}

/*  //////////////////////////////// PRODUCT CARD ///////////////////////////////  */

.product-card {
  border-radius: 10px;
  height: 300px;
  background-color: var(--clr-bg-product-card);
  line-height: 1.5rem;
  padding: 0.5rem;
  text-align: center;
}

.product-card > img {
  max-width: 100px;
  min-width: 100px;
  max-height: 100px;
  min-height: 100px;
}

/*  //////////////////////////////// CHECKOUT ///////////////////////////////  */

.checkout {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.shopping-cart-list {
  background-color: var(--clr-bg-product-card);
  padding: 1rem;
  width: 100%;
}

.shopping-cart-list-item {
  border: 1px solid lightgray;
  margin: 0.5rem 0;
  padding: 0.5rem;
  line-height: 2rem;
}

.shopping-cart-list-item > img {
  width: 100px;
  height: 100px;
  margin-right: 1rem;
}

.shopping-cart-list-item-quantity > a {
  color: blue;
  margin-left: 1rem;
  user-select: none;
}

.shopping-cart-list-item-quantity > a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.subtotal {
  display: flex;
  justify-content: flex-end;
}

.subtotal > span:last-child {
  font-weight: bold;
}

.checkout-proceed {
  background-color: var(--clr-bg-product-card);
  width: 100%;
  max-width: 80%;
  max-height: 300px;
  gap: 1rem;
  padding: 1rem;
}

.payment {
  width: 100%;
}

.payment-form {
  width: 100%;
  gap: 1rem;
  justify-content: center;
}

.payment-button-buy {
  width: 50%;
}

/*  //////////////////////////////// CREATE PRODUCT ///////////////////////////////  */
.create-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}

.create-product {
  background-color: var(--clr-bg-header);
  color: var(--clr-font);
  border-radius: 20px;
  position: absolute;
  max-width: 80%;
  min-height: 50%;
  top: 50px;
  padding: 2rem;
}

.create-product-textarea {
  max-height: 40px;
  max-width: 173px;
  height: 40px;
  width: 173px;
}

@media only screen and (min-width: 481px) {
  .product-list {
    grid-template-columns: 1fr 1fr;
  }

  .payment {
    max-width: 80%;
  }
}

@media only screen and (min-width: 769px) {
  .product-list {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .checkout {
    gap: 1rem;
    padding: 0 3rem;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }

  .shopping-cart-list {
    background-color: var(--clr-bg-product-card);
    padding: 1rem;
    width: 60%;
  }

  .shopping-cart-list-item {
    border: 1px solid lightgray;
    margin: 0.5rem 0;
    padding: 0.5rem;
    line-height: 2rem;
  }

  .shopping-cart-list-item > img {
    width: 150px;
    height: 150px;
    margin-right: 1rem;
  }

  .shopping-cart-list-item-quantity > a {
    color: blue;
    margin-left: 1rem;
    user-select: none;
  }

  .shopping-cart-list-item-quantity > a:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  .subtotal {
    display: flex;
    justify-content: flex-end;
  }

  .subtotal > span:last-child {
    font-weight: bold;
  }

  .checkout-proceed {
    background-color: var(--clr-bg-product-card);
    width: 100%;
    max-width: 40%;
    max-height: 200px;
  }

  .payment {
    max-width: 100%;
  }

  .payment-form {
    width: 100%;
    gap: 1rem;
    justify-content: center;
  }

  .payment-button-buy {
    width: 50%;
  }
}

@media only screen and (min-width: 1034px) {
  .header {
    color: whitesmoke;
    min-height: 100px;
    width: 100%;
    margin-bottom: 1rem;
    flex-direction: row;
  }

  .header h1 {
    min-width: 200px;
  }

  .checkout-proceed {
    max-width: 30%;
  }

  .payment {
    max-width: 80%;
  }

  .product-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
